#title1:hover {
  color: gray;
}

#title1:active {
  color: rgb(71, 71, 71);
}

#nav:hover {
  box-shadow: 0.1px 0.1px 10px gray;
}

#text{
  position: relative;
}

#text_option{
  position: absolute;
  top:13px;
  display:flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  width:95%;
  background-color: rgba(199, 199, 199,0.5);
  margin-left:2%;
  padding: 5px 0px 5px 0px;
  border-bottom: 5px solid rgb(214, 199, 58);
}

#add_style_btn{
  padding:2px;
  border:none;
  border-radius: 2px;

  background-color: gray;
  font-weight: bolder;
  color: white;

  cursor: pointer;

  margin:0px 2px 0px 2px;

  transition: background-color 0.2s, color 0.2s;
}
